.comments.expanded {
  transition: box-shadow .2s ease-in;
  transform: translate(9px, 0px);
  opacity: 1;
  visibility: visible;
  box-shadow: 4px 7px 13px 0px #00000061, inset -2px -2px 4px 0px #8f8f8f1c;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  max-width: 80vw;
  margin-right: 20px;
}
.comments.collapsed {
  max-width: 50%;
  transform: translate(105%, -180%);
  opacity: 1;
}

.comment {
  border: none;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.comment-body {
  display: flex;
}