.App {
  text-align: center;
}

.logo {
  height: 20vmin;
  pointer-events: none;
  filter: hue-rotate(-340deg);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */
.App-Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(5px + 2vmin);
}
.App-header {
  min-height: 20vh;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: center;
}
.App-body {
  min-height: 80vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.App-link {
  color: rgb(112, 76, 182);
}

input[type='text'],
input[type='email'],
input[type='password'] {
  width: 50vw;
  padding: 0.4em;
  /* padding-bottom: .5em; */
  /* margin-bottom: 5px; */
  /* height: 2.8em; */
  /* background: #282e33; */
  border: none;
  /* color: white; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 30px;
  box-shadow: inset 4px 7px 13px 0px #00000061,
    inset -2px -2px 4px 0px #8f8f8f1c;
  border-bottom: 1px solid white;
}

hr {
  outline: none;
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(63deg, #e309ff, #436bfd);
  box-shadow: inset 3px 3px 6px 0px #4c4c4c, inset -4px -4px 4px 0px #292929,
    2px 1000px 1px #282d34 inset;
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-decoration: none;
}
