.App {
  text-align: center;
}

.logo {
  height: 20vmin;
  pointer-events: none;
  filter: hue-rotate(-340deg);
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
} */
.App-Container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
}
.App-header {
  min-height: 20vh;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: center;
}
.App-body {
  min-height: 80vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.App-link {
  color: rgb(112, 76, 182);
}

input[type='text'] {
  width: 50vw;
  padding: .4em;
  padding-bottom: .5em;
  /* margin-bottom: 5px; */
  /* height: 2.8em; */
  /* background: #282e33; */
  border: none;
  /* color: white; */
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 30px;
  box-shadow: inset 4px 7px 13px 0px #00000061, inset -2px -2px 4px 0px #8f8f8f1c;
  border-bottom: 1px solid white;
}
